.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px);
    position: relative;
}

.hero_logo {
    position: relative;
    z-index: 1;
}

.hero_text {
    position: relative;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 1;
}