.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px);
    position: relative;
}

.infoColumn {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
