.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    padding-top: 64px;
}

.infoColumn {
    width: 60vw;
    height: 500px;
    background: var(--player-deck-color, #111);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}
